body {
  background: radial-gradient(859px at 10% 20%, rgb(245, 220, 154) 0%, rgb(164, 78, 51) 90%);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
  }
  
  nav {
    margin-top: 20px;
  }
  
  a {
    color: #8b4513;
    text-decoration: none;
    margin: 0 10px;
  }
  img{margin-top: 20px;}

  footer {
    background-color: #f8f1e7; 
    color: #5c3c2d;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.95rem;
    margin-top: 40px;
    border-top: 2px solid  #e8d5b7;
  }
  
  footer a {
    color: #a05a2c;
    text-decoration: none;
    font-weight: 500;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: #7a3f1c;
  }
  